* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  background-color: #00008b;
  color: #fff;
  padding: 10px;
  font-size: 2em;
  width: 100%;
}

h2 {
  text-align: center;
  margin: 3rem;
  font-size: 1.5em;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 10px;
  border: 1px solid #000;
  max-width: 250px;
  text-align: justify;
}

thead th {
  text-align: center;
}

tbody:nth-child(2),
tbody:nth-child(4),
tbody:nth-child(6),
tbody:nth-child(8),
tbody:nth-child(10),
tbody:nth-child(12),
tbody:nth-child(14),
tbody:nth-child(16),
tbody:nth-child(18),
tbody:nth-child(20) {
  background: rgb(205, 209, 216);
}

@media screen and (max-width: 800px) {
  table {
    width: 100%;
    font-size: 0.9em;

  }

  thead {
    display: none;
  }

  td {
    max-width: 100%;
  }

  table td[data-titulo] {
    display: flex;
  }

  table td[data-titulo]::before {
    content: attr(data-titulo);
    width: 100px;
    color: #000;
    font-weight: bold;
    margin-right: 50px;
    flex-grow: 1;
    max-width: 100px;
  }

  table td {
    border: none;
  }

  table tr {
    display: flex;
    flex-direction: column;
    border: 1px solid #666;
    margin-bottom: 1em;
    padding: 1rem;
  }

/*   tbody:nth-child(n){
     background: #fff;
  } */
}
